[user]
	name = Dmitry Cheryasov
    email = dcheryasov@handshake.com
[color]
    filemode = false
    diff = auto
    status = auto
    branch = auto
    pager = true
[color "diff"]
    whitespace = red reverse
[alias]
    b = branch
    ci = commit -v
	co = checkout
    cob = checkout -b
    d = diff
    l = log
    lg = log --graph --pretty=format:'%C(green)%h%Creset -%C(bold blue)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%C(green)%h%Creset -%C(bold blue)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit --date=relative --branches
	st = status
    fixup = !sh -c 'git commit -a -m \"fixup! $(git log -1 --format='%s' $@)\"' -
    squ = !sh -c 'git commit -a -m \"squash! $(git log -1 --format='%s' $@)\"' -
    ri = rebase --interactive
    rc = rebase --continue
    push-review = push origin HEAD:refs/for/master
    last = log -p -n 1
    lst = log -p -n 1 --name-only
    last5 = log -p -n 5
    unadd = reset
    unstage = rm --cached
    pull-rebase = pull --rebase origin master
    pwd = rev-parse --show-toplevel
    cp = cherry-pick
    cpx = cherry-pick -x
    shon = show --oneline --name-only
	feap = fetch --all --prune
    # fo = ferch origin, analogous to pull without checking the branch out.
    fo = !sh -c 'git fetch origin $1:$1' -
    mdiff = !sh -c 'git diff master:./$1 $1' -
	br = branch
	jira-co = "!f() { b=$1; shift; { git branch && git branch -r ; } | awk -v rpat=^[^/]*/$b -v pat=^$b '$1 ~ pat || $1 ~ rpat { print ; exit ; }' | cut -d/ -f2 | xargs -I{} git co {} $@; }; f"
[core]
    pager = less -FRSX
	excludesfile = ~/.gitignore
    editor = EE
[gui]
	recentrepo = /home/dcheryasov/work/monitoring
	editor = E

[color "branch"]
    current = green bold
    remote = yellow

[color "status"]
    branch = bold
    added = green bold
    changed = cyan bold
    untracked = yellow dim
    # color of conflicts
    unmerged = magenta bold

[push]
	default = current
[diff]
	tool = meld
[merge]
	tool = meld
[cola]
	fontdiff = DejaVu Sans Mono,11,-1,5,50,0,0,0,0,0
[branch]
	autosetuprebase = always
