[include]
    path = .gitconfig.google
[color]
    filemode = false
    diff = auto
    status = auto
    branch = auto
    pager = true
[alias]
    b = branch
    ci = commit -v
    co = checkout
    cob = checkout -b
    d = diff
    l = log
    lg = log --graph --pretty=format:'%C(green)%h%Creset -%C(bold blue)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%C(green)%h%Creset -%C(bold blue)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit --date=relative --branches
    st = status
    fixup = !sh -c 'git commit -a -m \"fixup! $(git log -1 --format='%s' $@)\"' -
    squ = !sh -c 'git commit -a -m \"squash! $(git log -1 --format='%s' $@)\"' -
    ri = rebase --interactive
    rc = rebase --continue
    push-review = push origin HEAD:refs/for/master
    last = log -p -n 1
    lst = log -p -n 1 --name-only
    last5 = log -p -n 5
    unadd = reset
    unstage = rm --cached
    pull-rebase = pull --rebase origin master
[core]
    pager = less -FRSX
    excludesfile = ~/.gitexcludes
    editor = femacs
[gui]
	recentrepo = /home/dcheryasov/work/monitoring

[color "branch"]
    current = green bold
    remote = yellow

[color "status"]
    added = green bold
    changed = green
    untracked = yellow dim
[push]
    default = simple
